Products

<div>
<ul id='names'>
{{#each products}}
	<li>{{name}}</li>
{{/each}}
</ul>

</div>
<div>

<ul id='prices'>
{{#each products}}
	<li>{{price}}</li>
{{/each}}
</ul>
</div>

<div>

<ul id='Department'>
{{#each products}}
	<li>{{department}}</li>
{{/each}}
</ul>
</div>