	<label for="categories">Categories:</label>
	<input id='categories' list="categories_list" name="artist"  value="All" class="form-control">
    <datalist id="categories_list">
			<option	value="All">

			{{#each categories}}
				<option value={{season_discount}} discount={{discount}}>
			{{/each}}
    </datalist>
