	Categories:
	<select id='categories' class="form-control">
    	<option	value="All">All</option>

			{{#each categories}}
				<option id="Category{{id}}" value={{discount}}>{{season_discount}}</option>
			{{/each}}

	</select>
