Products
<br>
<ul id='names'>
{{#each products}}
	<li>{{name}}</li>
{{/each}}
</ul>

<ul id='prices'>
{{#each products}}
	<li>{{price}}</li>
{{/each}}
</ul>

<ul id='prices'>
{{#each products}}
	<li>{{department}}</li>
{{/each}}
</ul>